.main-container {
  background-image: url('../../assets/images/bg.jpeg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .content {
    position: relative;
    .heading {
      color: rgb(0, 229, 255);
      text-align: center;
    }
  }
}
